<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqgk.clerk"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!-- 二维码相关权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />


    <application
        android:name=".base.AppEnter"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:orientation="vertical"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.product.ProductEdit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CashieringActivity"
            android:orientation="vertical" />
        <activity
            android:name=".activity.VipRecharge"
            android:orientation="vertical" />
        <activity
            android:name=".activity.active.ActiveCard"
            android:orientation="vertical" />

        <activity android:name=".activity.PickGoodActivity"
            android:orientation="vertical" />

        <activity android:name=".activity.InputMoney"
            android:orientation="vertical" >
        </activity>
        <activity android:name=".activity.PaySelectActivity"
            android:orientation="vertical" >
        </activity>
        <activity android:name=".activity.WebViewActivity"
            android:orientation="vertical" >
        </activity>
        <activity android:name=".activity.product.SeachProduct"
            android:orientation="vertical"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>
